<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title"></title>
    <script src="/scriptForHomePage.js" defer></script>
    <link rel="stylesheet" href="/homeStyle.css"> 
</head>
<body>
    <h2>User: <span th:text="${user.username}"></span></h2>
    <div class="scrollBox">
        <form method="post" action="/todolists">
            <input type="text" name="name" placeholder= "Listname" required>
            <button type="submit">Add list</button>
            <div class="lists">
                <ul>
                    <li class="List" th:id="${todoList.id}" th:each="todoList : ${todoLists}">
                        <a th:href="@{/list/{todolistname}(todolistname=${todoList.name})}">
                             <span th:text="${todoList.name}"></span></a>                      
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div id="logoutBtn">
        <button onclick="logout()">Log out</button>
    </div>
</body>
</html>