<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${theNameOfList}"></title>
    <link rel="stylesheet" href="/style.css"> 
    <script type="text/javascript" th:src="@{/scriptForList.js}" defer></script>
</head>
<body>
    <h2>List: <span th:text="${theNameOfList}" name="listName"></span></h2>
    <div class="scrollBox">   
            <form method="post" action="/addtodo">
                <label>Todo:</label>
                <input type="text" name="name" required><br>
                <label>Deadline:</label>
                <input type="date" name="date" id="date" required>
                <input type="time" name="time" id="time" required> 
                <input type="hidden" name="listName" th:value="${theNameOfList}" >               
                <button type="submit">Add</button>
            </form>
            <div class="todos">
                <ul>
                    <li class="todo"  th:each="todo : ${listOfToDos}"onclick="toggleTodo(this)">
                             <span th:text="${todo.name} + ' ' + ${todo.date} + ' ' + ${todo.time}"></span>
                             <button>X</button> 
                                
                             
                            
                    </li>
                </ul>               
            </div>  
    </div>
    <form action="/home" method="get">
        <button type="submit"> Home</button>                        
    </form>     
    <div id="logoutBtn">
        <button onclick="logout()">Log out</button>
    </div>
</body>
</html>