<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>
    <div class="box">
        <u>Registrerad</u><br/><br/>
        <u>Användarnamn</u><br/><br/>
        <input id="User" type="användarnamn" required><br/><br/>
        <u>Lösenord</u><br/><br/>
        <input id="password" type="password" required><br/><br/>
        <button id="loginBtn" type="submit">Logga in</button>
   </div>

   <div class="box2">
    <u>Ej registrerad</u><br/><br/>
    <u>Användarnamn</u><br/><br/>
    <input id="User" type="användarnamn" required><br/><br/>
    <u>Lösenord</u><br/><br/>
    <input id="password" type="password" required><br/><br/>
    <button id="createUserBtn" type="submit">Skapa användare</button>
</div>
    
</body>
</html>