<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="loginStyle.css">
    <script type="text/javascript" th:src="@{/scriptForLoginPage.js}" defer></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
            </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{/users/login}">
        <div class="box">
            <u>Registrerad</u><br/><br/>
            <u>Användarnamn</u><br/><br/>
            <input type="text" name="username" required><br/><br/>
            <u>Lösenord</u><br/><br/>
            <p class="errorMessage" th:text="${errorMessageForLogin}"></p>
            <input type="password" name="password" required><br/><br/>
            <button id="loginBtn" type="submit">Logga in</button>
         </div>
    </form>
        
    <form method="post" action="/users">
        <div class="box2">
            <u>Ej registrerad</u><br/><br/>
            <u>Användarnamn</u><br/><br/>
            <!-- <p class="errorMessage" th:text="${errorMessageForCreatingUser}"></p> -->
            <input type="text" name="username" required><br/><br/>
            <u>Lösenord</u><br/><br/>
            <input type="password" name="password" required><br/><br/>
            <button id="createUserBtn" type="submit" >Skapa användare</button>
        </div>
    </form>
</body>
</html>